<html>
  <head>
    <title>Tic Tac Toe</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

    <!-- <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" /> -->
    <link rel="stylesheet" type="text/css" href="/tic-tac-toe-multi/media/css/join.css" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />

    <link rel="apple-touch-icon" sizes="180x180" href="/tic-tac-toe-multi/media/icon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/tic-tac-toe-multi/media/icon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/tic-tac-toe-multi/media/icon/favicon-16x16.png" />
  </head>
  <body>
    <div class="join">
      <h1 id="title">Tic Tac Toe</h1>
      <h2 id="subtitle">Versi Multiplayer</h2>

      <div class="container">
        <form action="/tic-tac-toe-multi/game">
          <label id="enterCodeLabel">Masukkan Room Code:</label>
          <input type="hidden" name="nama" id="mynama" />
          <input type="tel" id="gameCodeInput" class="form-control" name="gameCode" />
          <button class="startChoiceBtn btn btn-info" type="submit">Gabung permainan</button>
        </form>
      </div>
      <form action="/tic-tac-toe-multi/">
        <button class="menuBtn loadingMenuBtn btn btn-info" type="submit">Beranda</button>
      </form>
    </div>
    <script>
      document.body.onload = () => (document.getElementById("mynama").value = localStorage.getItem("nama"));
    </script>
  </body>
</html>
